
/* --------------------------------------------------NAVBAR STYLING-------------------- */
.navbar-icons a:hover {
    opacity: 0.8;
}

/* -------------------------------------------------Carousel Styling------------------ */
#heroCarousel .carousel-item {
  min-height: 100vh;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

#heroCarousel .container-fluid {
  position: relative;
  z-index: 2;
}
/* Background image */
#heroCarousel .carousel-item {
  min-height: 100vh;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

/* Content upar rahe */
#heroCarousel .container-fluid {
  position: relative;
  z-index: 2;
}

/* Custom indicators positioning */
.custom-indicators {
  position: absolute;
  left: 6%;
  bottom: 40px;
  margin: 0;
}

/* Stick style */
.custom-indicators button {
  width: 70px;
  height: 6px;
  border-radius: 10px;
  background-color: #cfcfcf;
  border: none;
  opacity: 1;
  margin-right: 10px;
}

/* Active stick */
.custom-indicators .active {
  background-color: #17a673; /* green */
}

/* Mobile center */
@media (max-width: 991px) {
  .custom-indicators {
    left: 50%;
    transform: translateX(-50%);
  }
}


.hero-section {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.hero-img {
    max-width: 100%;
    height: auto;
}
.carousel-item {
    background-color: rgb(214, 214, 214);
}
.heroone{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;

}
.herotwo{
   font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    color: #0A9C78;
}
p{
    color: black;
}
.btnone{
    background-color: black;
}

/* -------------------------------------------- */