/* --------------------------------------------------NAVBAR STYLING-------------------- */
.navbar-icons a:hover {
    opacity: 0.8;
}

/* -------------------------------------------------Carousel Styling------------------ */
#heroCarousel .carousel-item {
    min-height: 100vh;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}

#heroCarousel .container-fluid {
    position: relative;
    z-index: 2;
}


#heroCarousel .carousel-item {
    min-height: 100vh;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}


#heroCarousel .container-fluid {
    position: relative;
    z-index: 2;
}


.custom-indicators {
    position: absolute;
    left: 6%;
    bottom: 40px;
    margin: 0;
}


.custom-indicators button {
    width: 70px;
    height: 6px;
    border-radius: 10px;
    background-color: #cfcfcf;
    border: none;
    opacity: 1;
    margin-right: 10px;
}


.custom-indicators .active {
    background-color: #17a673;

}


@media (max-width: 991px) {
    .custom-indicators {
        left: 50%;
        transform: translateX(-50%);
    }
}


.hero-section {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.hero-img {
    max-width: 100%;
    height: auto;
}

.carousel-item {
    background-color: rgb(214, 214, 214);
}

.heroone {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;

}

.herotwo {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    color: #0A9C78;
}

p {
    color: black;
}

.btnone {
    background-color: black;
}

.s4gh {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;


}

.section3 {
    border: 10px solid #0A9C78;
}

.vip-section {
    background:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url('../../public/bannerone.png') no-repeat center center;
    background-size: cover;
    min-height: 500px;
    color: #fff;
}



.btn-vip {
    background-color: #00a884;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s;
    border: none;
}

.btn-vip:hover {
    background-color: #008f70;
    color: white;
}


.vip-section h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: -1px;
}

.section9 {
    background-color: #0A9C78;

}



.fot-list {
    border-right: 1px solid #ffffff;
}


.order-section {

    background-image: url('../../public/bannertwo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}


.order-section h1 {
    line-height: 0.9;
    letter-spacing: -1px;
}



@media (max-width: 768px) {
    .order-section {
        text-align: center;
        padding-top: 100px;
    }

    .d-flex {
        justify-content: center;
    }
}




/* ----------------------------------------------------------ABOUT------------------------------ */




/* ---------------------------------------------------------BLOG-------------------------------- */
.blog-ban {
    background: url('../../public/blogone.webp') no-repeat center center;
    background-size: cover;
    min-height: 500px;
    color: #fff;
    position: relative;
}


.gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
            rgba(10, 156, 120, 0.9) 0%,
            rgba(10, 156, 120, 0.6) 20%,
            rgba(10, 156, 120, 0.2) 40%,
            rgba(0, 10, 8, 0) 100%);
    z-index: 0;
}

.blog-card {
    background-color: #F2F2F2;
}

.blog-card:hover {
    background-color: #0A9C78;
}

.blog-card {
    transition: background-color 0.3s ease;
}





/* -----------------------------------------------------------SHOP ONE------------------------ */


.shop-ban {
    background: url('../../public/shopone.webp') no-repeat center center;
    background-size: cover;
    min-height: 500px;
    color: #fff;
    position: relative;
}

/* ---------------------------------------------CONTACT US------------------------------- */


.contact-container {
    padding: 60px 0;
}

.contact-info h2 {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
}

.contact-info h4 {
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 20px;
}

.form-section {
    background-color: #f4f4f4;
    padding: 40px;
    border-radius: 5px;
}

.form-control,
.form-select {
    border: none;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 2px;
}

.btn-send {
    background-color: #00a67c;
    color: white;
    border: none;
    padding: 12px 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-send:hover {
    background-color: #008f6a;
    color: white;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 40px 0;
}

.vertical-line {
    width: 1px;
    height: 80px;
    background-color: #000;
}





/* ------------------------------------------------------HOW IT WORKS----------------------------- */

.s4g-process {
    background-color: #fff;
    padding: 100px 0;
}


.timeline-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #29b48b;
    transform: translateX(-50%);
    z-index: 1;
}


.dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #29b48b;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.start-dot {
    top: -8px;
}

.end-dot {
    bottom: -8px;
}


.img-frame {
    border: 10px solid #29b48b;
    line-height: 0;
}

.img-frame img {
    width: 100%;
    max-width: 450px;
}


.step-text {
    color: #29b48b;
    font-weight: 700;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

.step-text::after {
    content: '';
    height: 1px;
    width: 60px;
    background: #ced4da;
    margin-left: 15px;
    display: inline-block;
}

.text-md-end .step-text {
    flex-direction: row-reverse;
}

.text-md-end .step-text::after {
    margin-left: 0;
    margin-right: 15px;
}

.main-title {
    font-size: 3.5rem;
    font-weight: 900;
    font-family: 'Impact', sans-serif;
    margin: 10px 0;
    letter-spacing: -1px;
}

.description {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.6;
}


@media (max-width: 767px) {
    .timeline-line {
        display: none;
    }

    .main-title {
        font-size: 2.5rem;
    }

    .step-text::after {
        width: 40px;
    }
}




/* -------------------------------------------------------FAQS ONE-------------------------------- */


.s4g-faq {
    background-color: #F2F2F2;
}

.accordion-item {
    background-color: transparent !important;
    border-color: #dee2e6 !important;
}


.accordion-button {
    background-color: transparent !important;
    color: #000 !important;
    font-family: 'Impact', 'Arial Black', sans-serif;
    font-size: 1.25rem;
    font-weight: 900;
    padding: 25px 0;
    box-shadow: none !important;
    text-transform: uppercase;
}


.accordion-button::after {
    background-size: 1rem;
    transition: transform 0.2s;
}

.accordion-button:not(.collapsed) {
    border-bottom: 0;
}


.accordion-body {
    padding-top: 0;
    padding-bottom: 30px;
    color: #444;
    font-size: 1rem;
}


/* 1. Default State  */
.accordion-button::after {
    transform: rotate(270deg);
    transition: transform 0.3s ease;

}

/* 2. Open State  */
.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
}



@media (max-width: 767px) {
    .accordion-button {
        font-size: 1rem;
        padding: 20px 0;
    }
}




/* -----------------------------------------------------FAQS TWO------------------------------------- */

.seal-img {
    color: #0A9C78 !important;
}




.faqtwoheading {
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #000;
}


.policy-card {
    min-height: 250px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.card-num {

    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}





.bg-custom-gray {
    background-color: #F2F2F2;
    color: #1a1a1a;
}


.card-text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.policy-card {
    transition: all 0.3s ease;
}

.policy-card:hover {
    background-color: #0A9C78;


}

.faqtwoban {
    border: 10px solid #0A9C78;
}




/* ---------------------------------------------------------ORDER------------------------------------------- */


.group-toggle-container {
    background-color: #0A9C78;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.btn-group-item {
    text-decoration: none;
    color: #000;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
    text-align: center;
}


.btn-group-item.active {
    background-color: #000;
    color: #fff;
}

.btn-group-item:hover {
    color: #fff;
}


@media (max-width: 576px) {
    .group-toggle-container {
        width: 100%;
        justify-content: center;
    }

    .btn-group-item {
        flex: 1;
    }
}


.order-card {
    background-color: #F2F2F2 !important;
    min-height: 400px;
}

.order-card {
    transition: all 0.3s ease !important;
}

.order-card:hover {
    background-color: #0A9C78 !important;
}

.s4g-order-video {
    background-color: #0A9C78;
}


.text-justify {
    text-align: justify;
}

.custom-heading {
    font-weight: 900;
    letter-spacing: -1px;
    display: inline-block;
}




.tenxborder {
    border: 10px solid #0A9C78;
}


.table thead th {
    background-color: #0A9C78;
    color: white;
    border: none;
    padding: 12px;
}

.table tbody td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

h1.group-title {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1;
}

.video-container {
    position: relative;
    background: white;
    height: 520px;
}

.frame {
    height: 430px;
    width: 98%;
    margin: 5px;


}

.custom-border {
    border-style: solid;
    border-color: #0A9C78;
    border-width: 10px 10px 5px 10px;
}

.ctm-border {
    border-style: solid;
    border-color: #0A9C78;
    border-width: 10px 10px 5px 10px;
}

.img-desc {
    position: absolute;
    bottom: 10px;
}



.custom-border-box {
    border: 10px solid #0A9C78;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.c-border{
    border-style: solid;
    border-color: #0A9C78;
    border-width: 5px 10px 10px 10px;
}


.video-container iframe {
    border: none;
}

.object-fit-cover {
    object-fit: cover;
}