/* --------------------------------------------------NAVBAR STYLING-------------------- */
.navbar-icons a:hover {
    opacity: 0.8;
}

/* -------------------------------------------------Carousel Styling------------------ */
#heroCarousel .carousel-item {
    min-height: 100vh;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}

#heroCarousel .container-fluid {
    position: relative;
    z-index: 2;
}


#heroCarousel .carousel-item {
    min-height: 100vh;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}


#heroCarousel .container-fluid {
    position: relative;
    z-index: 2;
}


.custom-indicators {
    position: absolute;
    left: 6%;
    bottom: 40px;
    margin: 0;
}


.custom-indicators button {
    width: 70px;
    height: 6px;
    border-radius: 10px;
    background-color: #cfcfcf;
    border: none;
    opacity: 1;
    margin-right: 10px;
}


.custom-indicators .active {
    background-color: #17a673;

}


@media (max-width: 991px) {
    .custom-indicators {
        left: 50%;
        transform: translateX(-50%);
    }
}


.hero-section {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.hero-img {
    max-width: 100%;
    height: auto;
}

.carousel-item {
    background-color: rgb(214, 214, 214);
}

.heroone {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;

}

.herotwo {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    color: #0A9C78;
}

p {
    color: black;
}

.btnone {
    background-color: black;
}

.s4gh {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;


}

.section3 {
    border: 10px solid #0A9C78;
}

.vip-section {
    background:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url('../../public/bannerone.png') no-repeat center center;
    background-size: cover;
    min-height: 500px;
    color: #fff;
}



.btn-vip {
    background-color: #00a884;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s;
    border: none;
}

.btn-vip:hover {
    background-color: #008f70;
    color: white;
}


.vip-section h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: -1px;
}

.section9 {
    background-color: #0A9C78;

}

.wid {
    /* width: 1440px; */
}

.fot-list {
    border-right: 1px solid #ffffff;
}


.order-section {

    background-image: url('../../public/bannertwo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}


.order-section h1 {
    line-height: 0.9;
    letter-spacing: -1px;
}



@media (max-width: 768px) {
    .order-section {
        text-align: center;
        padding-top: 100px;
    }

    .d-flex {
        justify-content: center;
    }
}




/* ----------------------------------------------------------ABOUT------------------------------ */




/* ---------------------------------------------------------BLOG-------------------------------- */
.blog-ban {
    background: url('../../public/blogone.webp') no-repeat center center;
    background-size: cover;
    min-height: 500px;
    color: #fff;
    position: relative;
}


.gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
            rgba(10, 156, 120, 0.9) 0%,
            rgba(10, 156, 120, 0.6) 20%,
            rgba(10, 156, 120, 0.2) 40%,
            rgba(0, 10, 8, 0) 100%);
    z-index: 0;
}


.blog-card:hover {
    background-color: #0A9C78;
}

.blog-card {
    transition: background-color 0.3s ease;
}





/* -----------------------------------------------------------SHOP ONE------------------------ */


.shop-ban {
    background: url('../../public/shopone.webp') no-repeat center center;
    background-size: cover;
    min-height: 500px;
    color: #fff;
    position: relative;
}

/* ---------------------------------------------CONTACT US------------------------------- */


.contact-container {
    padding: 60px 0;
}

.contact-info h2 {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
}

.contact-info h4 {
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 20px;
}

.form-section {
    background-color: #f4f4f4;
    padding: 40px;
    border-radius: 5px;
}

.form-control,
.form-select {
    border: none;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 2px;
}

.btn-send {
    background-color: #00a67c;
    color: white;
    border: none;
    padding: 12px 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-send:hover {
    background-color: #008f6a;
    color: white;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 40px 0;
}

.vertical-line {
    border-left: 1px solid #ccc;
    height: 100%;
    margin: 0 20px;
}